.result {
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgba(252, 252, 252, 0.514);
    box-shadow: 2px 8px 5px -9px rgba(78, 78, 83, 1);
    border-radius: 2px;
}