.button {
    background-color: rgba(97, 109, 143, 0.772);
    border: none;
    color: aliceblue;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    margin: auto;
    box-shadow: 2px 8px 5px -9px rgba(78, 78, 83, 1);
    transition: 0.5s;
}

.button:hover {
    background-color: rgb(139, 148, 176);
}