html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(53, 54, 54);
  background-image: url("../images/background.jpg");
}